@font-face {
    font-family: Lato_reg;
    src: url('../fonts/Lato-Regular.ttf');

    font-family: Lato_bold;
    src: url('../fonts/Lato-Bold.ttf');

    font-family: Alt_Gothic;
    src: url('../fonts/Alternate Gothic No2 BT.ttf');
}

header {
    padding: 9px 0 18px;
    background-color: #333333;
}
.white {
    color: #fcfcfc;
}
.lgrey {
    color: #8e9498
}
.dgrey {
    color: #36393b
}
.pink {
    color: #fe2232
}
a:hover {
    text-decoration: none;
}
/*HEADER*/
ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    font-family: Lato_reg, sans-serif;
    list-style-type: none;
}

a.white:hover {
    color: #fcfcfc;
}
.header-box{
    justify-content: space-between;
}
.logo {
    font-family: Alt_Gothic;
    font-size: 55px;
    position: relative;
    padding: 0;
}
.logo-link{
    position: relative;
}
.logo-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fe2232;
    bottom: 12px;
    left: 61px;
}
a.nav-link {
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    margin: 0 5px;
}
li.nav-item a.nav-link:hover {
    color: #fe2232;
}
.navbar button {
    font-size: 32px;
    color: white;
    font-weight: 600;
}
.login {
    display: inline-flex;
    box-sizing: border-box;
    border: 1px solid #fe2232;
    background-color: #fe2232;
    padding: 7px 12px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5%;
}
.get-listed {
    display: inline-flex;
    box-sizing: border-box;
    border: 1px solid #fe2232;
    padding: 7px 13px 7px 12px;
    background-color: #fe2232;
    border-radius: 5%;
}
.login:hover,
.get-listed:hover {
    border: 1px solid #5b5b5b;
    background: #852d3300
}
.moto {
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
}
.nav-login-listed {
    padding: 16px 0 0 0;
}
.login-listed {
    justify-content: space-evenly;
}
/*MAIN*/
main.container-fluid {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}
.banner {
    width: 100%;
}
.events-list {
    background-color: #fcfcfc;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    font-family: Lato_reg, sans-serif;
    list-style-type: none;
    font-size: 15px;
    color: #8e9498;
    border: none;
    font-weight: 600;
    margin: 0 7px;
    padding: 25px 7px 18px 5px;
    display: inline-block;
    position: relative;
}
.nav-tabs .nav-link.active {
    color: #333333;
    border-bottom: 5px solid #FE2232;
    background-color: #fcfcfc;
}

.event-examples {
    padding: 40px 0;
}
.events{
    justify-content: space-around;
}
.event{
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 10px;
    min-height: 538px;
}
.event-content{
    box-shadow: 0 0 2px #aba8a8c7;
    background-color: #fcfcfc;
}
.event:first-child {
    margin-left: 0;
    padding-left: 0;
}
.event:nth-child(3n+3) {
    margin-right: 0;
    padding-right: 0;
}
.event-body {
    padding: 20px 15px 0 10px;
    max-width: 100%;
    min-height: 310px;
    overflow: hidden;
}

.gender-info {
    width: 100%;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.event-img {
    display: block;
    position: relative;
    background: url("../images/img.png") no-repeat;
    background-size: cover;
    min-height: 176px;
    width: 100%;
}

.img-fb,
.img-heart,
.img-e {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites.png') -89px -129px;
    left: 10px;
    bottom: 10px;
    z-index: 999;
}

.img-e {
    background: url('../images/css_sprites.png') -140px -129px;
}

.img-heart {
    width: 31px;
    height: 30px;
    background: url('../images/css_sprites.png') -190px -126px;
    left: 335px;
    bottom: 10px;
}

.img-bottom-shadow {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100px;
    background: no-repeat url('../images/css_sprites.png') -15px -9px;
    bottom: 0;
    background-size: 110%;
}
.event-img-label {
    font-family: Lato_reg, sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 14px;
    min-width: 235px;
    left: 50%;
    transform: translate(-50%, 0);
}

h4.event-title {
    margin: 0;
}

.event-title a {
    color: #000000;
    font-family: Lato_bold, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.event-text {
    font-size: 13px;
    font-family: Lato_reg, sans-serif;
    color: #000000;
    overflow: hidden;
}

.event-place {
    font-size: 14px;
    font-family: Lato_reg, sans-serif;
    color: #000000;
}

.event-address {
    font-size: 12px;
    font-family: Lato_reg, sans-serif;
    color: #8e9498;
}

.gender-box {
    background-color: #f4f4f4;
    padding: 10px 30px;
}

.gender-box:first-child {
    margin-right: 2px;
}

.gender-box:last-child {
    margin-left: 2px;
}

.gender-box .gender-figures {
    font-weight: 600;
    font-size: 29px;
    font-family: Lato_bold, sans-serif;
    text-align: center;
    margin: 0;
}

.gender-box .gender-f,
.gender-box .gender-m {
    font-weight: 600;
    font-size: 14px;
    font-family: Lato_bold, sans-serif;
    text-align: center;
    margin: 0;
    position: relative;
}

.gender-box .gender-m {
    padding-right: 14px;
}

.gender-box .gender-f:before,
.gender-box .gender-m:before {
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 46px;
    background: url('../images/css_sprites.png') -52px -129px;
    left: -10px;
    top: -34px;
}

.gender-box .gender-f:before {
    width: 22px;
    height: 48px;
    background: url('../images/css_sprites.png') -10px -129px;
}

.more-events-btn {
    color: #8e9498;
    font-family: Lato_reg, sans-serif;
    font-size: 16px;
    padding: 4px 58px;
    box-shadow: 0 0 2px #aba8a8c7;
    background-color: #fcfcfc;
    border: 1px solid #aba8a8c7;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.more-events-btn:hover {
    cursor: pointer;
}

.events-tabs {
    width: 100%;
}

.event-filter {
    width: 100%;
    margin: 0;
}

.event-filter > div {
    margin-right: 7px;
}

.event-filter div #event-name {
    font-family: sans-serif;
    font-size: 16px;
    color: #272727;
    padding: 6px 10px;
    width: 106%;
    box-sizing: border-box;
    border: 1px solid #8e9498;
}

#customer-location {
    font-weight: 300;
    color: #272727;
    font-family: sans-serif;
    font-size: 16px;
    padding: 6px 40px 6px 10px;
    width: 131%;
    box-sizing: border-box;
    border: 1px solid #8e9498;
}

input#event-name:focus-visible,
input#customer-location:focus-visible {
    outline: none;
}

.event-name-inpt[placeholder] {
    color: #8e9498;
}

.location-inpt:before {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #8e9498;
    top: 5px;
    right: -16px;
    z-index: 100;
    position: absolute;
}

.location-inpt:after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/css_sprites.png) -241px -130px;
    z-index: 100;
    top: 9px;
    right: -48px;
}

.calendar {
    content: "";
    display: inline-block;
    width: 32px;
    height: 27px;
    position: absolute;
    background: url("../images/css_sprites.png") -57px -197px;
    top: 5px;
    right: -99px;
}

/*Footer*/
footer {
    background-color: #333333;
    padding: 35px 0;
}

.footer-nav-item {
    font-size: 14px;
    font-family: Lato_reg, sans-serif;
    color: #8e9498;
    margin: 0 10px 8px;
    position: relative;
}

.footer-nav-item:first-child {
    margin-left: 0;
}

.footer-nav-item:last-child {
    margin-right: 0;
}

.footer-nav-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    right: -12px;
    top: 10px;
    background-color: #8e9498;
}

.footer-nav-item:last-child:after {
    display: none;
}

.footer-nav-item .footer-nav-link {
    color: #8e9498;
}

.footer-nav-item .footer-nav-link:hover {
    color: #f4f4f4;
}

.footer-divider {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to bottom, rgba(39, 39, 39, 1) 50%, #5b5b5b 100%);
}

.copyright-soc-media {
    margin-top: 23px;
}

p > a.copyright {
    text-align: center;
    font-family: Lato_reg, sans-serif;
    font-size: 14px;
}

.copyright-soc-media p.lgrey:hover a.copyright {
    color: #cccccc;
}

a.copyright span {
    font-weight: 600;
}

.soc-media-item {
    position: relative;
    margin: 0 20px;
}

.soc-media-item:first-child {
    margin-left: 0;
}

.soc-media-item:last-child {
    margin-right: 0;
}

.soc-media-link {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites.png') -10px -242px;
    left: 0;
    top: 0;
}

.soc-media-link.tw {
    background: url('../images/css_sprites.png') -106px -195px;
    width: 20px;
    height: 20px;
}

.soc-media-link.in {
    background: url('../images/css_sprites.png') -316px -125px;
    width: 20px;
    height: 20px;
}

.soc-media-link.yt {
    background: url('../images/css_sprites.png') -36px -237px;
    width: 20px;
    height: 20px;
}

.soc-media-link.oo {
    background: url('../images/css_sprites.png') -135px -195px;
    width: 20px;
    height: 20px;
    top: 7px;
}

.soc-media-link.wf {
    background: url('../images/css_sprites.png') -279px -125px;
    width: 20px;
    height: 20px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .login.white {
        margin-bottom: 10px;
    }
    p.white.logo a.white:before{
        bottom: 23px;
    }

    form.event-filter{
        margin: 16px 0;
        padding: 0;
    }
    .location-inpt:before{
        right: 0;
        left: 215px;
    }
    .location-inpt:after{
        right: 0;
        left: 224px;
    }
    .calendar{
        right: -97px;
    }
    .event {
        max-width: 45%;
    }
    .img-e, .img-fb, .img-heart{
        top: 222px;
    }
    .img-heart{
        left: 389px;
    }
    ul.soc-media{
        right: 60px;
        position: absolute;
    }
}

@media (min-width: 768px) and (max-width:  991.98px) {
    nav.navbar.navbar-expand-lg {
        min-height: 177px;
        top: -53px;
        left: 0;
    }
    div#navbarHeader{
        min-width: 413px;
        margin-top: 100px;
        position: absolute;
        left: -100px;
    }
    button.navbar-toggler:focus,
    button.navbar-toggler:active {
        outline: none;
        border: none;
    }
    .login.white {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .get-listed{
        font-size: 14px;
    }
    .logo-link:before{
        bottom: 12px;
    }
    button.navbar-toggler:focus,
    button.navbar-toggler:active {
        outline: none;
        border: none;
    }
    .login-listed{
        justify-content: space-around;
        top: -57px;
        right: 7px;
    }
    .banner{
        width: 100%;
    }
    form.event-filter{
        margin: 16px 0;
        padding: 0;
    }
    #event-name{
        width: 70%;
        margin: 0 0 10px;
    }
    .event-name-inpt{
        width: 35%;
    }
    #customer-location{
        width: 50%;
    }
    .location-inpt:before{
        right: 0;
        left: 289px;
    }
    .location-inpt:after{
        right: 0;
        left: 300px;
    }
    .calendar{
        right: 277px;
    }
    .event{
        max-width: 45%;
    }
    .img-e, .img-fb{
        left: 5px;
        top: 155px;
    }
    .img-heart{
        left: 287px;
        top: 155px;
    }
    ul.soc-media{
        margin-right: 13px;
    }

}
.img-fb, .img-heart, .img-e{
    top:136px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
    nav.navbar.navbar-expand-lg{
        min-height: 177px;
        top: 15px;
        left: -202px;
    }
    div#navbarHeader{
        min-width: 413px;
        margin-top: 23px;
    }
    button.navbar-toggler:focus,
    button.navbar-toggler:active {
        outline: none;
        border: none;
    }
    .logo-link:before{
        bottom: 12px;
    }
    .login-listed{
        right:-100px;
    }
    .login.white{
        margin-bottom: 10px;
    }
    .banner{
        display: none;
    }
    .event-filter{
        margin: 20px 0;
    }
    #event-name,
    #customer-location{
        margin-bottom: 10px;
    }
    #customer-location{
        width: 80%;
    }
    .location-inpt:before,
    .location-inpt:after{
        display: none;
    }
    .calendar{
        right: 17px;
    }
    .event{
        max-width: 100%;
    }
    .img-fb, .img-e{
       bottom: 10px;
    }
    .img-heart {
        bottom: 10px;
        left: 433px;
    }
    p.lgrey{
        margin: 48px auto 0;
    }
}

@media (max-width: 575.98px) {
    nav.navbar.navbar-expand-lg{
        top: -59px;
        right: -15px;
        min-height: 100px;
    }
    button.navbar-toggler{
        position: absolute;
        top: -33px;
        right: 0;
    }
    button.navbar-toggler:focus,
    button.navbar-toggler:active {
        outline: none;
        border: none;
    }
    .collapse.show {
        display: block;
        position: absolute;
        top: 8px;
        right: 20px;
    }
    .login-listed{
        margin-left: 0;
        justify-content: center;
    }
    .events{
        justify-content: center;
    }
    .login, .get-listed{
        padding: 7px 7px;
        font-size: 14px;
    }
    .moto{
        display: none;
    }
    .banner{
        display: none;
    }
    .events-tabs{
        justify-content: end;
    }
    .event-filter{
        margin: 20px 0;
    }
    #event-name,
    #customer-location{
        margin-bottom: 10px;
    }
    #customer-location{
        width: 80%;
    }
    .location-inpt:before,
    .location-inpt:after{
        display: none;
    }
    .calendar{
        right: 17px;
    }
    .event{
        max-width: 100%;
    }
    .img-fb, .img-e,.img-heart{
        display: none;
    }
    p.lgrey.order-2.order-xl-1{
        margin: 44px 0 10px;
        text-align: center;
    }
    ul.soc-media.order-1.order-xl-2.row {
        margin-bottom: 34px;
        left: 46%;
        position: absolute;
        transform: translate(-46%, 0);
    }
    .soc-media-item {
        position: relative;
        margin: 0 30px
    }
}



